$color1: #26669b;
$color2: #d98721;
$color3: #0f8acd;
$color4: #d98621b2;
$color5: #087ebd;

$grey0: #f0eded;
$grey1: #d2d0d0;
$grey2: #949292;
$grey3: #656464;
$grey4: #3c3c3c;

$font-size7: 3vw;
$font-size6: 2.5vw;
$font-size5: 2.3vw;
$font-size4: 1.8vw;
$font-size3: 1.5vw;
$font-size2: 1.2vw;
$font-size1: 1vw;

$main-font: "Roboto";