$color1: #26669b;
$color2: #d98721;
$color3: #0f8acd;
$color4: #d98621b2;
$color5: #087ebd;

$grey0: #ffffff;
$grey1: #f1f1f1;
$grey2: #b7b7b7;
$grey3: #656464;
$grey4: #3c3c3c;

$grey2t: #b7b7b7ab;

$font-size7: 3vw;
$font-size6: 2.5vw;
$font-size5: 2.3vw;
$font-size4: 1.8vw;
$font-size3: 1.5vw;
$font-size2: 1.2vw;
$font-size1: 1vw;

$main-font: "Roboto";





/*-------------------------------------------------*/
