@import "../../css/index.scss";

.navbar{
    width: 100vw;
    position: fixed;
    height: 12vh;
    z-index: 100;
    top: 0%;
    left: 0%;
    background-color: rgba(241, 241, 241, 0.942);
    .navbar-container{
        margin-left: 1vw;
    }
    .navLogo{
        width: 19vw;
    }
    .me-auto{
        position:absolute;
        right: 5%;
        .navLinks{
            margin-left: 2vw;
            font-weight: 600;
            color: $color1;
        }
        .navLinksDrop{
            font-weight: 600;
            color: $color1;
        }
        #basic-nav-dropdown{
            color: $color1;
        }
    }
}