@import "../../css/index.scss";

.HomeStaff-container{
    height: 77vh;
    width: 99vw;
    position:absolute;
    top: 186%;
    left: 0%;
    margin-right: 0vw;
    padding-right: 0vw;
    overflow: hidden;
    background-color: $color1 ;

    
}