@import "../../css/index.scss";

.HomeStaff-container-leftSide{
    position: absolute;
    width: 50vw;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1500ms;
    z-index: 4;
}
.HomeStaff-container-leftSide-Silvia{
    position: absolute;
    top: -4%;
    left: 47%;
    transition: 1500ms;
}
.HomeStaff-container-leftSide-TextBox{
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 30%;
    left: -20%;
    text-align: right;
    color: $color2 ;
    transition: 1500ms;
}
.HomeStaff-container-rightSide{
    position: absolute;
    width: 50vw;
    height: 100%;
    right: 0;
    top: 0;
    transition: 1500ms;
    z-index: 3;
}
.HomeStaff-container-rightSide-Caty{
    height: 85%;
    margin-top: 6vh;
    position: absolute;
    top:0%;
    right: 54%;
    transition: 1500ms;
}
.HomeStaff-container-rightSide-TextBox{
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 30%;
    right: -10%;
    text-align: left;
    color: $color2 ;
    transition: 1500ms;

}